src/
tmp/
types/
test/
dist/*.map
img/
!img/icon.png
tsconfig.json
yarn.lock
yarn-error.log
node_modules/
!node_modules/veza/dist/index.js
!node_modules/veza/dist/lib/*.js
!node_modules/veza/dist/lib/Structures/*.js
!node_modules/veza/dist/lib/Structures/Base/SocketHandler.js
!node_modules/veza/dist/lib/Util/*.js
!node_modules/veza/LICENSE
!node_modules/veza/package.json
!node_modules/binarytf/dist/index.js
!node_modules/binarytf/dist/lib/*.js
!node_modules/binarytf/dist/lib/errors/*.js
!node_modules/binarytf/dist/lib/util/*.js
!node_modules/binarytf/LICENSE
!node_modules/binarytf/package.json
.git/**
.gitattributes
.vscode/**
.*ignore
.editorconfig
.*.json
rollup.config.js
ava.*.js
azure-pipelines.yml
