src/
tmp/
types/
test/
dist/*.map
img/
!img/icon.png
tsconfig.json
*.log
node_modules/
!node_modules/veza/dist/index.js
!node_modules/veza/dist/lib/*.js
!node_modules/veza/dist/lib/Structures/*.js
!node_modules/veza/dist/lib/Structures/Base/SocketHandler.js
!node_modules/veza/dist/lib/Util/*.js
!node_modules/veza/LICENSE
!node_modules/veza/package.json
!node_modules/binarytf/dist/index.js
!node_modules/binarytf/dist/lib/*.js
!node_modules/binarytf/dist/lib/errors/*.js
!node_modules/binarytf/dist/lib/util/*.js
!node_modules/binarytf/LICENSE
!node_modules/binarytf/package.json
!node_modules/import-from/index.js
!node_modules/import-from/license
!node_modules/import-from/package.json
!node_modules/resolve-from/index.js
!node_modules/resolve-from/license
!node_modules/resolve-from/package.json
.git/**
.gitattributes
.vscode/**
.*ignore
.editorconfig
.*.json
rollup.config.js
ava.*.js
azure-pipelines.yml
codecov.yml
commitlint.config.js
pnpm-lock.yaml
pnpmfile.js
.npmrc
