src/**
tmp/**
types/**
**/*.map
yarn.lock
tsconfig.json
node_modules/**
!node_modules/veza/dist/index.js
!node_modules/veza/dist/lib/*.js
!node_modules/veza/dist/lib/Structures/*.js
!node_modules/veza/dist/lib/Structures/Base/SocketHandler.js
!node_modules/veza/dist/lib/Util/*.js
!node_modules/veza/LICENSE
!node_modules/binarytf/dist/index.js
!node_modules/binarytf/dist/lib/*.js
!node_modules/binarytf/dist/lib/errors/*.js
!node_modules/binarytf/dist/lib/util/*.js
!node_modules/binarytf/LICENSE
.git/**
.vscode/**
.gitignore
.gitattributes
.editorconfig
.markdownlint.json
.eslintrc.json
.spellignore
yarn-error.log
img/**
!img/icon.png
rollup.config.js
.eslintignore
